# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\.Creeper_Code\Deep_Learing_From_Scratch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
